.venv/
.env
serviceAccountKey.json
__pycache__/
*.log
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Python virtual environments
.venv311/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db